name: Run checks and build

on:
  workflow_call:
    inputs:
      ref:
        description: 'The branch, tag or SHA to checkout'
        default: ''
        type: string

jobs:
  checks-and-build:
    name: Run checks and build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./

    strategy:
      fail-fast: false
      matrix:
        node-version: [22.x, 24.x]

    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: package-lock.json

      - name: Install Dependencies
        run: npm install

      - name: Run Prettier
        run: npm run prettier

      - name: Run Lint
        run: npm run lint

      - name: Run TypeScript
        run: npm run tsc

      - name: Run Tests
        run: npm run test

      - name: Create Build
        run: npm run build
